.error-box-style {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 10rem;
}

.icon-style {
    position: absolute;
    left: 60px;
    top: 18px;
}

.icon-style-2 {
    position: absolute;
    left: 61px;
    top: 50px;
}